<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type='text/css' href="static/css/style.css">

    <title>Timing</title>
</head>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
          <span class="nav_image"></span>
          <span class="logo_name">TIME TABLE</span>
          <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
          <i class="bx bx-x" id="sidebar-close"></i>
        </div>
    
        <div class="menu_container">
          <div class="menu_items">
            <!-- Your sidebar menu items here -->
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Dashboard</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-home-alt"></i>
                  <span>Overview</span>
                </a>
              </li>
              <li class="item">
                <a href="" class="link flex">
                  <i class="bx bx-grid-alt"></i>
                  <span>HOME</span>
                </a>
              </li>
            </ul>
    
    
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Editor</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="add_teacher" class="link flex">
                  <i class="bx bxs-magic-wand"></i>
                  <span>ADD TEACHER</span>
                </a>
              </li>
              <li class="item">
                <a href="add_subjects" class="link flex">
                  <i class="bx bx-folder"></i>
                  <span>ADD COURSE</span>
                </a>
              </li>
              <li class="item">
                <a href="add_working" class="link flex">
                  <i class="bx bx-cloud-upload"></i>
                  <span>ADD DAYS</span>
                </a>
              </li>
            </ul>
    
            <li class="item">
              <a href="add_infrastructure" class="link flex">
                <i class="bx bx-cloud-upload"></i>
                <span>ADD INFRASTRUCTURE</span>
              </a>
            </li>
          </ul>
    
          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Setting</span>
              <span class="line"></span>
            </div>
            <li class="item">
              <a href="#" class="link flex">
                <i class="bx bx-flag"></i>
                <span>Notice Board</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="link flex">
                <i class="bx bx-award"></i>
                <span>Award</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="link flex">
                <i class="bx bx-cog"></i>
                <span>Setting</span>
              </a>
            </li>
          </ul>
        </div>
      </div> <!-- Closing div for menu_container -->
    
    </nav>

    <div class="container">
        <header>Timing</header>

        <form action="#" method='post'>
            {% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label> Enter Timing</label>
                            <input type="text" placeholder="Enter your Timing" required name="timing">
                        </div>

                        <div class="input-field">
                          <label>Select an option:</label>
                          <select name="timing_class" required>
                              <option value="working_days">Classes</option>
                              <option value="each_day">Labs</option>
                          </select>
                      </div>

                        <div class="buttons">
                            <div class="backBtn">

                                <span class="btnText">View Edit Timing</span>
                            </div>

                            <button class="submit">
                                <span class="btnText">Add Timing</span>

                            </button>
                            <button class="submit" onclick="redirectTo('add_infrastructure')">
                              <span class="btnText">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>

    <script src="static/javascript/script.js"></script>
    <script src="static/javascript/redirect.js"></script>
</body>

</html>