<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" type='text/css' href="static/css/style.css">
  
    <title>Add Teachers </title> 
</head>
<body>
    <div class="container">
        <header>Add Teachers</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Teacher Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
						<div class="input-field">
                            <label>Teacher Designation</label>
                            <input type="text" placeholder="Enter Teacher Designation" required>
                        </div>
						<div class="input-field">
                            <label>Teacher Subject</label>
                            <input type="text" placeholder="Enter your Subject" required>
                        </div>
                   
				   

                    <div class="buttons">
                        <div class="backBtn">
                          
                            <span class="btnText">View Edit Teachers</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Add Teacher</span>
                            
                        </button>
						<button class="sumbit">
                            <span class="btnText">GOT0</span>
                            
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

    <script src="static/javasript/script.js"></script>
</body>
</html>