<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" type='text/css' href="static/css/style.css">
  
    <title>Department </title> 
</head>
<body>
    <div class="container">
        <header>Add Department</header>

        <form action="#" method = 'post'>
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Department Name</label>
                            <input type="text" placeholder="Enter your Dept. name" required>
                        </div>
						<div class="input-field">
                            <label>Department Coordinator</label>
                            <input type="text" placeholder="Enter your Coord. name" required>
                        </div>
						<div class="input-field">
                            <label>Department Building</label>
                            <input type="text" placeholder="Enter your Department" required>
                        </div>
                   

                    <div class="buttons">
                        <div class="backBtn">
                          
                            <span class="btnText">View Edit Course</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Add Course</span>
                            
                        </button>
						<button class="sumbit">
                            <span class="btnText">GOTO</span>
                            
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

    <script src="static/javasript/script.js"></script>
</body>
</html>