<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <nav class="navbar bg-body-tertiary shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <button class="btn btn-success" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  {% block start %}
  {% endblock %}
</body>
</html>