
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="radio-tile-group">
        <div class="input-container">
          <a href="{% url 'add_teacher' %}" class="radio-link">
          <input id="Faculty" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="person-add-outline"></ion-icon>
            <label for="Faculty">Faculty</label>
          </div>
        </a>
        </div>

        <div class="input-container">
          <input id="Student" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="school-outline"></ion-icon>
            <label for="Student">Student</label>
          </div>
        </div>

        <div class="input-container">
          <a href="{% url 'add_teacher' %}" class="radio-link">
          <input id="Admin" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="person-outline"></ion-icon>
            <label for="Admin">Admin</label>
          </div>
        </a>
        </div>
      </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>