
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
        <div class="radio-tile-group">
            <div class="input-container">
                <input id="Faculty" type="radio" name="radio">
                <div class="radio-tile">
                    <a href="{% url 'add_teacher' %}" class="radio-link"></a>
                    <label for="Faculty">Faculty</label>
                </div>
            </div>
    
            <div class="input-container">
                <input id="Student" type="radio" name="radio">
                <div class="radio-tile">
                    <a href="{% url 'add_teacher' %}" class="radio-link"></a>
                    <label for="Student">Student</label>
                </div>
            </div>
    
            <div class="input-container">
                <input id="Admin" type="radio" name="radio">
                <div class="radio-tile">
                    <a href="{% url 'add_teacher' %}" class="radio-link"></a>
                    <label for="Admin">Admin</label>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>