<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style_login.css">
</head>
<body>
    <div class="container">
        <div class="login form">
            <header>Login</header>
            <form method="post">
                {% csrf_token %}
                <!-- Signup form fields -->
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                <ul class="messages">
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                </ul>
                {% endif %}
                <!-- Login form fields -->
                <label>Email</label>
                <input type="text" placeholder="Enter your Email" name="email">
                <label>Password</label>
                <input type="password" placeholder="Enter your password" name="password">
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                    <a href='signup'>Signup</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
