<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style_table.css">
    <script src="jadu.js"></script>
</head>
<body>
    <table id="myTable" border="1">
    </table>
    <form>
        <input type="button" onclick="createTable()" value="Create the table">
        <div class="dropdown"><button class="dropbtn">GOTO</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="Add_Courses.html">Add Courses</a>
                <a href="Add_department.html">Add Department</a>
                <a href="Add_Rooms.html">Add Rooms</a>
                <a href="Add_section.html">Add Section</a>
                <a href="Add_Timming.html">Add Timming</a>
                <a href="addteacher.html">Add Teacher</a>
            </div>
        </div>
    </form>
</body>
</html>