<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static/css/style_signup.css">
</head>

<body>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            <form method="post">
                {% csrf_token %}
                <!-- Signup form fields -->
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                <ul class="messages">
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                </ul>
                {% endif %}

                <label>Teacher Name</label>
                <input type="text" placeholder="Enter your Name" name="teacher_name">
                <label>Teacher Designation</label>
                <input type="text" placeholder="Enter your Designation" name="teacher_desig">
                <label>Email</label>
                <input type="email" placeholder="Enter your Email" name="email">
                <label>Password</label>
                <input type="password" placeholder="Create a password" name="password">
                <input type="submit" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <a href='login_page'>Login</a>
                </span>
            </div>
        </div>
    </div>
</body>

</html>