<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Table</title>
  <link rel="stylesheet" href="static/css/style_table.css">
</head>
<body>
  <div class="navbar">
    <a href="#home">Home</a>
    
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <a href="#home">Logout</a>
  </div>
      <header>
      <h1>University Name</h1>
      <h2>Department Name</h2>
      <h3>TIME TABLE</h3>
  </header>
  
  {% for class_name, timetable_a in time_table_slot.items %}
  <table id="myTable" border="1">
    <caption>{{ class_name }}</caption>
    <tr>
      <th>Day/Time</th>
      {% for time in list %}
      <th>{{ time }}</th>
      {% endfor %}
    </tr>
  
    {% for day, periods in timetable_a.items %}
    <tr>
      <td>{{ day }}</td>
      {% for period in periods %}
      {% if forloop.counter0 == 2 %}
      <td bgcolor="lightgray">Break</td>
      <td>{{period}}</td> {# Add an empty cell #}
      {% elif forloop.counter0 == 6 %}
      <td bgcolor="lightblue">Recess</td>
      <td>{{period}}</td> {# Add an empty cell #}
      {% else %}
      <td>{{ period }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
  
      <!-- Module to display when a cell is clicked -->
      <div id="module">
          <h3 id="moduleName"></h3>
          <p id="moduleTime"></p>
          <!-- Add more content to your module as needed -->
          <button onclick="closeModule()">Close</button>
      </div>
  
      <script>
          // Your existing JavaScript code here
      </script>
</body>
</html>