
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="radio-tile-group">

        <div class="input-container" onclick="redirectTo('time_table')">
          <input id="walk" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="person-add-outline"></ion-icon>
            <label for="walk">Course wise</label>
          </div>
        </div>

        <div class="input-container" onclick="redirectTo('time_table_lab')">
          <input id="bike" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="school-outline"></ion-icon>
            <label for="bike">Lab wise</label>
          </div>
        </div>

        <div class="input-container" onclick="redirectTo('time_table_teach')">
          <input id="car" type="radio" name="radio">
          <div class="radio-tile">
            <ion-icon name="person-outline"></ion-icon>
            <label for="car">Time Table</label>
          </div>
        </div>

     

      </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="static/javascript/redirect.js"></script>
</body>
</html>